<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleProducts.css') }}">

</head>
<body>
    <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('registration_products') }}">Register</a></li>
          <li><a href="{{ url_for('products') }}">Products</a></li>
        </ul>
      </nav></strong>

    <h1>Products</h1>
    <div>
        <table id = "productsTable"></table>
    </div>
    <div id = "message"></div>

    <script type="text/javascript" src="{{url_for('static', filename='js/products.js')}}"></script>
    <script type="text/javascript">
        setValues('{{ data | safe }}')
     </script>

</body>
</html>