form input[type = text], input[type = number]{
    width: 50%;
    font-size: 1rem;
    margin: .3rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid blue;
}

form p
{
    display: block;
}

form p label
{
    display: inline-block;
    text-align: right;
    width: 100px;
}

body {
    text-align: center;
}